.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --arrow-color: #ff0070;
  --accent-color: #ff0070;
  --title-main-color: #db00ff;
  --title-shadow-color: #ff0070;
  --hover-color:rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark){
  :root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgb(0, 0, 40);
  --text-color: hwb(333 70% 5%);
  --accent-color: #ff0070;
  --title-main-color: #db00ff;
  --title-shadow-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  }
  .header__decorative-icon{
    visibility: visible;
  }
}

.page.theme_dark .header__decorative-icon {
  visibility: visible;
  display: block;
}