.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-main-color: #ffc2e6;
  --title-shadow-color: #ff0070;
}

.theme_light .header__decorative-icon{
  visibility: hidden;
  display: none;
}

@media(prefers-color-scheme: light){
  .header__decorative-icon{
    visibility: hidden;
    display: none;
  }
}