.page {
  color: var(--text-color,black);
  font-family: var(--main-font, Arial, monospace);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-self: center;
  align-self: center;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: start;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 40px;
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0px;
  }
}

.header__decorative-icon {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-left: 8px;
  background-color: var(--accent-color, red);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 
    0 0 4px rgba(255, 0, 0, 0.8),
    0 0 10px rgba(255, 0, 0, 0.6),
    0 0 20px rgba(255, 0, 0, 0.4);
}

@media (width >= 768px) {
  .header__decorative-icon {
    top: 30px;
    right: 30px;
  }
}

.header__decorative-icon::before {
  content: "REC";
  position: absolute;
  top: -7px;
  right: 0;
  color: var(--accent-color, red);
  margin-right: 15px;
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-corners-color);
  border-left: 1px solid var(--decor-corners-color);
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-corners-color);
  border-right: 1px solid var(--decor-corners-color);
  margin-top: 10px;
  margin-right: 10px;
}

@media (width >= 768px) {
  .decorated-zone::before {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .decorated-zone::after {
    margin-top: 20px;
    margin-right: 20px;
  }
}

.header__theme-menu {
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-left: 20px;
  }
}

.header__theme-menu-button {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--nav-list-color);
  line-height: 1.35;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0px 13px 0px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-list-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-list-color);
  pointer-events: none;
}

.header__description-title {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-main-color);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
}

@media (width >= 1024px) {
  .header__description-title {
    text-shadow: 4px 4px 0 var(--title-shadow-color);
  }
}

.header__description-text {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  justify-self: end;
  color: var(--card-title-color);
}

@media (width >= 768px) {
  .header__description-text {
    max-width: 49%;
  }
}

.title-decor {
  background-color: var(--accent-color); 
}

.content {
  padding: 0px 10px 0px 10px;
  margin-bottom: 40px;
}

@media (width >= 768px) {
  .content {
    padding: 20px;
    margin-bottom: 60px;
  }
}

.content-section {
  margin-bottom: 50px;
  
}

.content-section:last-child {
  margin-bottom: 0px;
}

@media (width >= 768px) {
  .content-section {
    margin-bottom: 60px;
  }
}

.content-section-title {
  font-size: var(--font-size);
  margin-bottom: 20px;
  color: var(--sections-title-color);
  font-weight: var(--font-weight-bold);
}

.card-title {
  font-size: var(--font-size);
  margin-bottom: 10px;
  color: var(--card-title-color);
  font-weight: var(--font-weight-bold);
}

.card-list-title {
  font-size: var(--font-size);
  display: flex;
  align-self: start;
  width: 100%;
  margin-bottom: 19px;
  color: var(--card-title-color);
  font-weight: var(--font-weight-bold);
}

.card-list-item {
  margin-bottom: 20px;
}

article p:not(:last-child) {
  margin-bottom: 10px;
}

@media (width < 1024px) and (width >= 768px) {
  .content-section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .content-section-title-why {
    grid-column: span 1;
    margin-bottom: 0px;
  }

  .card-list-why {
    grid-column: span 2;
  }

  .content-section-what {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
  .content-section-title-what {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0px;
  }

  .card-list-what {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .content-section-how {
    display: grid;
    grid-template-columns: minmax(236px,1fr) 2fr;
    gap: 20px;
  }
  .content-section-title-how {
    grid-column: 1;
    margin-bottom: 0;
  }

  .card-list-title {
    grid-column: 2 / 3;
    margin-bottom: 20px;;
  }

  .card-list-how {
    grid-column: 2 / 3;
  }
}

@media (width >= 1024px) {
  .content-section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content-section-title-why {
    grid-column: span 1;
    margin-bottom: 0px;
  }

  .card-list-why {
    grid-column: span 2;
  }

  .content-section-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section-title-what {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 0px;
  }

  .card-list-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1 / -1;
    grid-row: 2 span;
  }

  .content-section-how {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) 2fr;
    gap: 20px;

  }

  .content-section-title-how {
    grid-column: span 1;
    margin-bottom: 0;
  }

  .card-list-title {
    grid-column: 2;
    margin-bottom: 20px;
  }

  .card-list-how {
    grid-column: 2;
  }
}

h4.card-title {
  font-weight: var(--font-weight);
}

.card-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}
.card-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content-section-pictures {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.content-section-title-pictures {
  margin-bottom: 10px;
  font-size: var(--font-size);
  color: var(--card-title-color);
  font-weight: var(--font-weight-bold);
}

@media (width >= 768px) {
  .content-section-title-pictures {
    margin-bottom: 20px;
  }
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
}

@media (width >= 768px) {
  .content-section-pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-height: 760px;
  }

  .sunset {
    grid-column: span 2;
    grid-row: span 1;
  }

  .ice-cream {
    grid-row: span 2;
    grid-column: span 1;
  }

  .tape {
    grid-row: span 2;
    grid-column: span 1;
  }

  .street {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media (width > 768px) {
  .content-section-pictures {
    max-height: 900px;
  }
}

@media (width > 900px) {
  .content-section-pictures {
    max-height: 960px;
  }
}

@media (width > 960px) {
  .content-section-pictures {
    max-height: 1023px;
  }
}

@media (width = 1024px) {
  .content-section-pictures {
    max-height: 1024px;
  }
}

@media (width > 1024px) {
  .content-section-pictures {
    max-height: 2560px;
  }
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-main-color);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  font-weight: var(--font-weight-bold);
}